<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--        table -->
<div style="width: 100%; display: flex; justify-content: center" >
    <table style="width: 100%">
        <thead style="text-align: center">
        <th style="width: 100%;text-align: center">Progress Chart</th>
        </thead>
        <tbody>
        <!--                <tr th:each="product: ${products}">-->
        <!--                    <td th:text="${product.name}" ></td>-->
        <!--                    <td th:text="${product.calories}" style="padding-left: 100px"></td>-->
        <!--                </tr>-->
        </tbody>
    </table>
</div>
<!--        /table-->
</body>
</html>